	<div class="table">
		
	
		<div class="nav-divider">&nbsp;</div>
		                    
		<ul class="current"><li><a href="#nogo"><b>Administrateur</b><!--[if IE 7]><!--></a><!--<![endif]-->

		<div class="select_sub show">
			<ul class="sub">
				<li><a href="{{ path('agence') }}">View all</a></li>
				<li class="sub_show"><a href="{{ path('agence_new') }}">Add </a></li>
                        </ul>
		</div>

		</li>
		</ul>
		
		<div class="nav-divider">&nbsp;</div>
		
		<ul class="select"><li><a href="#nogo"><b>Configuration</b><!--[if IE 7]><!--></a><!--<![endif]-->

		<div class="select_sub show">
			<ul class="sub">
				<li><a  href="{{ path('cabine') }}">Gestion  Type Cabine</a></li>
				<li ><a href="{{ path('pension') }}">Gestion Type Pension</a></li>
				<li><a href="{{ path('assurance') }}">Gestion Type Assurance</a></li>
			</ul>
		</div>

		<div class="clear"></div>
		</div>
		<div class="clear"></div>
		</div>
	
		
	
		
	