{% extends '::template.html.twig' %}

{% block stepholder %}
<div id="step-holder">
			<div class="step-no-off">1</div>
			<div class="step-light-left"><a href="">Add Agence </a></div>
			<div class="step-light-right">&nbsp;</div>
			<div class="step-no-off">2</div>
			<div class="step-light-left">Add Bateau</div>
			<div class="step-light-right">&nbsp;</div>
			<div class="step-no-off">3</div>
			<div class="step-light-left">Add Type Cabine</div>
                        <div class="step-light-right">&nbsp;</div>
                        <div class="step-no-off">4</div>
			<div class="step-light-left">Add Croisiere</div>
                         <div class="step-light-right"></div>
                        <div class="step-no">5</div>
			<div class="step-dark-left">Add Escale</div>
			<div class="clear"></div>
		</div>
{% endblock %}

{% block form %}
{{ form_start(form) }}

<table border="0" cellpadding="0" cellspacing="0"  id="id-form">
        
    <tr>
        <th valign="top"> nomPort </th>
        <td>   {{ form_widget(form.nomPort,{'attr': {'class':'inp-form' }})}}</td>
        <td></td>
        </tr>
        <tr>
        <th valign="top"> dateDefin </th>
        <td>   {{ form_widget(form.dateDebutEscale,{'attr': {'class': 'inp-form'}})}}</td>
        <td></td>
        </tr>
         <tr>
        <th valign="top"> heureDebutEscale </th>
        <td>   {{ form_widget(form.heureDebutEscale,{'attr': {'class': 'inp-form'}})}}</td>
        <td></td>
        </tr>
         <tr>
        <th valign="top"> dateFinEscale </th>
        <td>   {{ form_widget(form.dateFinEscale,{'attr': {'class': 'inp-form'}})}}</td>
        <td></td>
        </tr>
          <tr>
        <th valign="top"> heureFinEscale </th>
        <td>   {{ form_widget(form.heureFinEscale,{'attr': {'class': 'inp-form'}})}}</td>
        <td></td>
        </tr>
         <tr>
        <th valign="top"> description </th>
        <td>   {{ form_widget(form.description,{'attr': {'class': 'form-textarea'}})}}</td>
        <td></td>
        </tr>
         <tr>
        <th valign="top"> photo </th>
        <td>   {{ form_widget(form.photo,{'attr': {'class': 'inp-form'}})}}</td>
        <td></td>
        </tr>
        <tr><td></td><td>     {{ form_widget(form.submit,{'attr': {'class': 'form-submit'}} )}}
      </td></tr>
    
        </table>
  {{form_end(form)}}
       {% include "CroisiereBundle:Default:TableauAgence.html.twig" %}
       {% include "CroisiereBundle:Default:TableauBateau.html.twig" %}
       {% include "CroisiereBundle:Default:TableauCroisiere.html.twig"%}
       {% include "CroisiereBundle:Default:TableauEscale.html.twig" %}

{% endblock %}
