{% extends '::template.html.twig' %}
 {% block stepholder %}


    {% endblock %}


 {% block form %}
    <h1>Assurance list</h1>
<table>
<td class="options-width">
<a href="{{ path('assurance_new') }}" title="Ajouter" class="icon-1 icon-5"></a>
        </td>
    </table>
        <table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table">	
       <th class="table-header-repeat line-left minwidth-1"><a href="">Id</a></th>
        <th class="table-header-repeat line-left"><a href="">Typeassurance</a></th>
                <th class="table-header-repeat line-left"><a href="">Description</a></th>

                        <th class="table-header-repeat line-left"><a href="">Montant</a></th>

        <th class="table-header-options line-left"><a href="">Action</a></th>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('assurance_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.typeAssurance }}</td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.montant }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('assurance_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('assurance_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
    {% endblock %}
